/*Anpassung Breite des Textbereiches*/
.wy-nav-content {
#    max-width: 100%;
}

/*SearchBar Hintergrundfarbe auf ecadia grau*/
.wy-side-nav-search {
	background-color: #f9f9f9;
	color: black;
}

a.icon.icon-home{
	color:black;
}

/*Image Styling des ecadiaLogo*/
img#ecadiaLogo {
	border-radius: 0;
	border: 0px solid black;
	background-color: #f9f9f9;
	padding: 0px;
	width: 70%;
	height: 100%;
}

/*Grauer Rahmen um Bilder der Doku*/
div.section img {
	border: 2px solid grey;
	padding: 10px;
}

/*fixing code and line num alignment*/
.rst-content .highlight>pre {
     line-height: 1.5;
}

/*Styling des PDF Download Buttons und Edit-on-Gitlab Button*/
a.Button {
	font-size: 100%;
	background-color: #f9f9f9;
	padding: 6px;
	border: 2px solid grey;
	border-radius: 5px;
}

a.Button:hover {
	background-color: #e3e3e3;
}

div.ButtonDownloadPDF-Container {
	margin-top: 5px;
	text-align: center;
}

body > div.wy-grid-for-nav > nav {
	padding-bottom: 3em;
}
